<div id="chat-container">
  <header>
    <h4 id="title">PMR Chat Bot</h4>
    <button id="btn-close" class="btn" (click)="onCloseClick()"><i class="fa fa-close"></i></button>
  </header>

  <section id="messages-container">
    <div class="message" *ngFor="let message of messages" [ngClass]="{'user-message': isUserMessage(message)}">
      <div [ngClass]="{'bot-message-content': isBotMessage(message), 'user-message-content': isUserMessage(message)}">
        {{ message.content }}
      </div>
    </div>
  </section>

  <footer>

    <input class="form-control" type="text" placeholder="type here" [(ngModel)]="userMessageInput">
    <button id="btn-send" class="btn" (click)="onSendClick()"><i class="fa fa-send"></i></button>
  </footer>
</div>
